@use "global" as *;
.blog__inner {
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-wrap: wrap;
    flex-direction: initial;
    margin-right: rem(25);
    margin-left: rem(25);
  }
  @include mq(xl) {
  }
}
