@use "global" as *;
.card__text-box-date {
  // overflow: hidden;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.card__text-box-date time {
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  letter-spacing: rem(1);
  line-height: 1.857;
  text-align: left;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
