@use "global" as *;
.card__inner {
  min-height: inherit;
  background-color: #111;
  @include mq(md) {
    margin-top: rem(25);
    margin-left: rem(25);
    margin-bottom: rem(25);
  }
  @include mq(xl) {
  }
}
