@use "global" as *;
.card__text-box--title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(18);
  font-style: normal;
  font-weight: $normal500;
  letter-spacing: rem(1);
  line-height: 1.944;
  text-align: left;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
